<!-- Footer Section Start -->
<div class="section footer-section">
    <!-- Footer Top Start -->
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-xl-2 col-md-4">
                    <!-- Footer Logo Start -->
                    <div class="footer-logo">
                        <a asp-controller="home" asp-action="index"><img src="~/images/logo.png" width="154" height="46" alt="Logo" /></a>
                    </div>
                    <!-- Footer Logo End -->
                </div>
                <div class="col-xl-5 col-md-8">
                    <!-- Footer Contact & Payment End -->
                    <div class="footer-contact-payment">
                        <div class="footer-contact">
                            <div class="contact-icon">
                                <img src="~/images/icon/icon-4.png" width="39" height="46" alt="Icon" />
                            </div>

                            <div class="contact-content">
                                <h6 class="title">Call Us:</h6>
                                <p>00 123 456 789</p>
                            </div>
                        </div>
                        <div class="footer-payment">
                            <img src="~/images/payment.png" width="192" height="21" alt="Payment" />
                        </div>
                    </div>
                    <!-- Footer Contact & Payment End -->
                </div>
                <div class="col-xl-5">
                    <!-- Footer Subscribe End -->
                    @Html.Partial("_SubscribePartial")
                    <!-- Footer Subscribe End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Top End -->
    <!-- Footer Widget Section Start -->
    <div class="footer-widget-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <!-- Footer Widget Start -->
                    <div class="footer-widget">
                        <h4 class="footer-widget-title">Customer Service</h4>

                        <ul class="footer-link">
                            <li><a asp-controller="cart" asp-action="index">Payment Methods</a></li>
                            <li><a href="#">Money-back guarantee!</a></li>
                            <li><a href="#">Returns-Shipping</a></li>
                            <li><a href="#">Terms and conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>
                    <!-- Footer Widget End -->
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <!-- Footer Widget Start -->
                    <div class="footer-widget">
                        <h4 class="footer-widget-title">Information</h4>

                        <ul class="footer-link">
                            <li><a asp-controller="about" asp-action="index">About Furbar</a></li>
                            <li>
                                <a asp-controller ="shop" asp-action="index">How to Shop</a>
                            </li>
                            <li><a asp-controller="contact" asp-action="index">Contact us</a></li>
                            <li><a asp-controller="account" asp-action="login">Log in</a></li>
                        </ul>
                    </div>
                    <!-- Footer Widget End -->
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <!-- Footer Widget Start -->
                    <div class="footer-widget">
                        <h4 class="footer-widget-title">My Account</h4>

                        <ul class="footer-link">
                            <li><a href="register.html">Sign In</a></li>
                            <li><a href="cart.html">View Cart</a></li>
                            <li><a href="wishlist.html">My Wishlist</a></li>
                            <li><a href="#">Track My Order</a></li>
                            <li><a href="#">Help</a></li>
                        </ul>
                    </div>
                    <!-- Footer Widget End -->
                </div>
                <div class="col-lg-2 col-md-5 col-sm-6">
                    <!-- Footer Widget Start -->
                    <div class="footer-widget">
                        <h4 class="footer-widget-title">Our Stores</h4>

                        <ul class="footer-link">
                            <li><a href="#">New aYork</a></li>
                            <li><a href="#">London SF</a></li>
                            <li><a href="#">Cockfosters BP</a></li>
                            <li><a href="#">Los Angeles</a></li>
                            <li><a href="#">Chicago</a></li>
                        </ul>
                    </div>
                    <!-- Footer Widget End -->
                </div>
                <div class="col-lg-3 col-md-7">
                    <!-- Footer Widget Start -->
                    <div class="footer-widget">
                        <h4 class="footer-widget-title">About Us</h4>

                        <div class="widget-about">
                            <p>
                                Lorem ipsum dolor sit amet consect adipisicing
                                elit sed do eiusmod temp incididunt ut labore et
                                dolore magna aliqua. Ut enim ad minim
                            </p>
                        </div>
                        <div class="widget-social">
                            <ul>
                                <li>
                                    <a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Footer Widget End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Widget End -->


</div>
<!-- Footer Section End -->
<!--Back To Start-->
<button id="backBtn" class="back-to-top"><i class="fa-sharp fa-solid fa-arrow-up"></i></button>
<!--Back To End-->