




<!-- Register Section Start -->
<div class="section section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <!-- Login & Register Start -->
                <div class="login-register-wrapper">
                  
                        <div class="alert alert-warning" role="alert" style="text-align:center">
                            <h3>Welcome</h3>
                            <p>Please check your email !!!</p>
                        </div>
                  
                </div>
                <!-- Login & Register End -->
            </div>
        </div>
    </div>
</div>
<!-- Register Section End -->