<div class="footer-subscribe">
                        <span class="title">Subscribe Now :</span>
                        <div class="subscribe-form">
                           <form asp-controller="subscribe" asp-action="subscribed">
                                <input type="email" name="email" class="email" id="mce-EMAIL" placeholder="Enter your e-mail address" required />
                                <button id="mc-embedded-subscribe" class="default-btn" type="submit" name="subscribe">
                                    <i class="fa-regular fa-paper-plane"></i>
                                </button>
                            </form>
                        </div>
 </div>