@model List<CartVM>
@{
    ViewData["Title"] = "WishList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Page Banner Section Start -->
<div class="section page-banner-section" style="background-image: url(images/page-banner.jpg)">
    <div class="container">
        <!-- Page Banner Content End -->
        <div class="page-banner-content">
            <h2 class="title">Wishlist</h2>


        </div>
        <!-- Page Banner Content End -->
    </div>
</div>
<!-- Page Banner Section End -->
<!-- Shopping Cart Section Start -->
<div class="section section-padding">
    <div class="container">
        <div class="cart-wrapper">
            <!-- Cart Wrapper Start -->
            <div class="cart-table table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="product-thumb">Image</th>
                            <th class="product-info">
                                product Information
                            </th>
                   
                          
                            <th class="product-add-to-cart">
                                Add to Cart
                            </th>
                            <th class="product-action">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                      @foreach(var product in Model)
                        {
                            <tr>
                                <td class="product-thumb">
                                    <img src="~/images/product/@product.ImageUrl" alt="" />
                                </td>
                                <td class="product-info">
                                    <h6 class="name">
                                        <a asp-controller="productdetail" asp-action="index" asp-route-id="@product.Id">@product.Name</a>
                                    </h6>
                                    <div class="product-prices">
                                        <span class="new-price">$@product.Price</span>

                                    </div>
                                   
                                </td>
                              
                           
                                <td class="product-add-to-cart">
                                    <a asp-controller="cart" asp-action="add" asp-route-id="@product.Id" class="btn btn-dark btn-hover-primary">Add to Cart</a>
                                </td>
                                <td class="product-action">
                                    <a asp-controller="wishlist" asp-action="DeleteItem" asp-route-id="@product.Id" class="remove">
                                        <i class="fa-solid fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <!-- Cart Wrapper End -->
        </div>
    </div>
</div>
<!-- Shopping Cart Section End -->
