@using Furbar.ViewModels.ColorAdmin;
@model ColorDetailVM
@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/AdminArea/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">

                      <h2 class="card-title">@Model.Name</h2>
                    
                      <a asp-action="index" class="btn btn-dark">Return Back</a>
                    </div>
                  </div>
                </div>
</div>